@charset "utf-8"; //设置中文字符
@import "public";

//定义常用变量
$grey:#b0b0b0;
$orange:#ff6700;

/*【顶部条】 样式*/
.site-tobar{
    height: 40px; line-height: 40px;
    color:$grey; background: #333;
    //顶部条-导航
    .topbar-nav{
        a{//导航文字
            color:$grey;
            &:hover{color: white;}
        }
        .sep{ //导航分隔符
            color: #424242; margin: 0 3.6px;
        }
    }
    //顶部条-信息选项
    .topbar-info{float: right;}
    //顶部条-购物车
    .topbar-cart{
        @extend .topbar-info;
        height: 100%; width: 120px;
        text-align: center;
        margin-left: 25px;
        background: #424242;
        position: relative;
        &:hover{
            color:$orange; background: white;
            font-weight: bolder;
        }
        //顶部条-购物车-列表
        .cart-menu{
            position: absolute; right: 0;
            width: 316px; height: 0;
            background: white;
            @include shadow(box-shadow,0,2px,10px,0,rgba(0,0,0,.15));
            @include move(transition,height,.3s);
            //列表提示文字
            .msg{padding:20px 0 20px; text-align: center;}
        }
        &:hover .cart-menu{ height: 100px; }
    }
}